{% extends "base.html" %}

{% block l4 %}active{% endblock %}

{% block header %}
{% if session['user'] %} <h2>Hello {{session['user']}} | Completed tasks</h2> <br> {% endif %}
{% endblock %}

{% block content %}
<table class="table">
    <thead>
        <tr>
            <th>Sl</th>
            <th>Task</th>
            <th>Target</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{task.task}}</td>
            <td>{{task.target_date.strftime('%d/%m/%Y')}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}