{% extends "base.html" %}

{% block header %}
{% if session['user'] %} <h2>Hello {{session['user']}}</h2> <br> {% endif %}
{% endblock %}

{% block content %}
<table class="table">
    <thead>
        <tr>
            <th>Sl</th>
            <th>Close</th>
            <th>Task</th>
            <th>Target</th>
            <th>Control</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr>
            <td>{{loop.index}}</td>
            <td><a href="/task/close/{{task.id}}"><i class="bx bx-check"></i></a></td>
            <td>{{task.task}}</td>
            <td>{{task.target_date.strftime('%d/%m/%Y')}}</td>
            <td> <a href="/task/edit/{{task.id}}"><i class="bx bx-edit-alt"></i></a> | <a
                    href="/task/delete/{{task.id}}"><i class='bx bx-task-x'></i></a> </td>
        </tr>

        {% endfor %}

    </tbody>
</table>

{% endblock %}