{% extends "base.html" %}

{% block l1 %}active{% endblock %}

{% block header %}
{% if session['user'] %} <h2>Hello {{session['user']}} | Planned tasks</h2> <br> {% endif %}
{% endblock %}

{% block content %}
<table class="table">
    <thead>
        <tr>
            <th>Sl</th>
            <th>Status</th>
            <th>Task</th>
            <th>Target</th>
            <th>Control</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr>
            <td>{{loop.index}}</td>
            <td><input type="checkbox" data-id="{{task.id}}" {% if task.complete %} checked {% endif %}></td>
            <td><input type="text" data-id="{{task.id}}" id="tt-{{task.id}}" value="{{task.task}}" readonly class="form-control ne-text"></td>
            <!-- replace above class with form-control-plaintext -->
            <td><input type="date" data-id="{{task.id}}" id="td-{{task.id}}" value="{{task.target_date}}" readonly class="form-control ne-text"></td>
            <td> 
                <div role="button" class="task-control"><i data-id="{{task.id}}" class="bx bx-task-x tc-del"></i></div> | 
                <a href="/tasks/{{task.id}}/archive" title="Archive"><i class='bx bx-archive'></i></a> 
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<form action="{{ url_for('task.add') }}" method="post">
    <div class="row">
        <div class="col"><h4>Add a new task</h4></div>
        <div class="col"><input type="text" name="task" placeholder="Task" required  class="form-control"></div>
        <div class="col"><input type="date" name="target_date" class="form-control"></div>
        <div class="col"><button type="submit" class="btn btn-primary">Add task</button></div>
    </div>
    
    
    
</form>
{% for message in get_flashed_messages() %} {{message}} {% endfor %}
{% endblock %}