{% extends 'base.html' %}

{% block header %}
<h2>{% block title %}Login{% endblock %}</h2>
{% endblock %}

{% block content %}
<form method="post">
    <label for="username">Username</label>
    <input class="form-control" name="username" id="username" required>
    <label for="password">Password</label>
    <input class="form-control" type="password" name="password" id="password" required>
    <input class="btn btn-primary  btn-block" type="submit" value="Log In">
</form>
{% for message in get_flashed_messages() %}
{{message}}
{% endfor %}
{% endblock %}