{% extends 'base.html' %}
{% block title %}Todo | Register{% endblock %}
{% block l2 %}active{% endblock %}

{% block content %}
<div id="user-form">
    <h2>Register or <a href="login">Login</a></h2>
    <form method="post">
        <label for="username">Username</label>
        <input class="form-control" name="username" id="username" required>
        <label for="password">Password</label>
        <input class="form-control" type="password" name="password" id="password" required>
        <input type="submit" value="Register">
    </form>
    {% for message in get_flashed_messages() %}
    {{message}}
    {% endfor %}
</div>
{% endblock %}